.card
{
  /*3*/
  background-color:#ee0b0b;
}
.card__title
{
  /*4*/
  color:#282828;
  /*5*/
  font-size:14px;  
}
.card__description
{
  /*6*/  
  color:#282828;
  /*7*/
  font-size:12px;  
}
.card__img-top
{
    /*8*/
    width:288px;
    height:182px;
    /*9*/
    margin-bottom:50px
}
.card
{
    /*10*/
    padding:50px;
}